<div class = "wrapper">
	<h1><%=@food.name%></h1>

	<a class ="nav" href = "/foods">See all menu items</a>

	<p>CUISINE: <%=@food.cuisine%></p>
	<p>PRICE: <%=@food.price%></p>

	<table class = "edit_delete">
		<tr>
			<td>
				<a class = "nav" href="/foods/<%=@food.id%>/edit">Edit</a> 
			</td>
			<td>
				<form action = '/foods/<%=@food.id%>' name="method" method="post">
				<input type ="hidden" name="_method" value="delete"/>
				<input class ="delete" type ="submit" value="Delete food item"/>
			</td>
		</tr>
	</table>

	
	</form>
</div>