<div class = "wrapper">	
	<h1>All Parties</h1>

	<a class ="nav" href = "/parties/new">Add new party?</a>

	<h2>CURRENT PARTIES</h2>
	<table>
	<% @current_parties.each do |party| %>
		<tr>
			<td>
				<a href="/parties/<%=party.id%>"><%=party.party_name%></a> 
			</td>
			<td>
				Party of <%=party.guest_num%>
			</td>
			<td>
				Seated at <%=party.created_at%>
			</td>
		</tr>
	<% end %>
	</table>

	<h2>CHECKED OUT PARTIES (ALREADY PAID)</h2>
	<ul>
	<% @paid_parties.each do |party| %>
		<li>
		<a href="/parties/<%=party.id%>"><%=party.party_name%></a>: Party of <%=party.guest_num%>
		</li>
	<% end %>
	</ul>
</div>	

