<h1>Receipt for <%=@party.party_name%> Party</h1>

<form action = '/parties/<%=@party.id%>' name="method" method="post">
	<input type ="hidden" name="party[id]" value="<%=@party.id%>"/>
</form>

<table>
<% @orders.each do |order| %>
	<tr>
		<td>
		<%= order.food.name %>
		</td>
		<td>
		<%= order.food.price %>
		</td>
	<tr>
<% end %>
</table>

===========================

<table>
	<tr>
		<td>Subtotal:</td>
		<td>$<%= @party.subtotal%></td>
	</tr>
	<tr>
		<td>Gratuity:</td>
		<td>$<%= @party.gratuity%></td>
	</tr>
	<tr>
		<td>Total:</td>
		<td>$<%= @party.total_cost%></td>
	</tr>
</table>

===========================

<p>
Thanks for dining with us!
</p>

===========================

<a href = "/parties/:id/receipt/print">Print receipt?</a>