<h1>Receipt for <%=@party.party_name%> Party</h1>

<form action = '/parties/<%=@party.id%>' name="method" method="post">
	<input type ="hidden" name="party[id]" value="<%=@party.id%>"/>
</form>

<table>
<% @orders.each do |order| %>
	<tr>
		<td>
		<%= order.food.name %>
		</td>
		<td>
		<%= order.food.price %>
		</td>
	<tr>
<% end %>
</table>

<table>
<% @orders.each do |order| %>
	<tr>
		<td>Suggested Gratuity:</td>
		<td>Subtotal</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>
		<%= order.subtotal %>
		</td>
		<td>
		<%= order.gratuity %>
		</td>
		<td>
		<%= order.total_sum %>
		</td>
	<tr>
<% end %>
</table>

Thanks for dining with us!
</p>

<a href = "/parties/:id/receipt/print">Print receipt?</a>