<div class = "wrapper">	
	<h1>Receipt for <%=@party.party_name%> Party</h1>

	<form action = '/parties/<%=@party.id%>' name="method" method="post">
		<input type ="hidden" name="party[id]" value="<%=@party.id%>"/>
	</form>

	<table>
	<% @orders.each do |order| %>
		<tr>
			<td>
			<%= order.food.name %>
			</td>
			<td>
			<%= order.food.price %>
			</td>
		<tr>
	<% end %>
	</table>

	<p>===========================</p>

	<table>
		<tr>
			<td>Total:</td>
			<td>$<%= @party.subtotal%></td>
		</tr>
	</table>

	<p>Suggested Gratuity:</p>
	15%: $<%= @party.one_gratuity%><br>
	18%: $<%= @party.two_gratuity%><br>
	20%: $<%= @party.three_gratuity%><br>


	<p>===========================</p>

	<a href="javascript:if(window.print)window.print()">PRINT RECEIPT</a>

	<p>===========================</p>

</div>