<h1>Party Name: <%=@party.party_name%></h1>

<p>Number of Guests: <%=@party.guest_num%></p>

<a href="/parties/<%=@party.id%>/edit">Edit</a> or<form action = '/parties/<%=@party.id%>' name="method" method="post">
	<input type ="hidden" name="_method" value="delete"/>
	<input class = "delete" type ="submit" value="Delete party"/>
</form>

<a href = "/parties/<%=@party.id%>/orders/new">Add an order</a>

<h2>All Outstanding Orders</h2>

<table>
	<tr>
		<td>Item</td>
		<td>Price</td>
	</tr>
<% @orders.each do |order| %>
	<tr>
		<td><%=order.food_name%></td>
		<td><%=order.food_price%></td>
		<td>
			<form action = '/orders' name="method" method="post">
				<input type ="hidden" name="order[id]" value="<%=order.id%>"/>
				<input type ="hidden" name="party[id]" value="<%=@party.id%>"/>
				<input type ="hidden" name="_method" value="delete"/>
				<input class = "delete" type ="submit" value="Delete order"/>
			</form>
		</td>

	</tr>
<% end %>
<table>



