<div class = "wrapper">
	<h1>Party Name: <%=@party.party_name%></h1>
	
	<table class = "edit_delete">
		<tr>
			<td>
				<a class ="nav" href="/parties/<%=@party.id%>/edit">Edit</a>
			</td>
			<td>
				<form action = '/parties/<%=@party.id%>' name="method" method="post">
				<input type ="hidden" name="_method" value="delete"/>
				<input class = "delete" type ="submit" value="Delete party"/>
			</td>
			<td>
				<a class ="nav" href="/parties">See all parties?</a>
			</td>
		</form>
		<tr>
	</table>
	

	<p>NUMBER OF GUESTS: <%=@party.guest_num%></p>

	<p>PAID STATUS: <%=@paid_status%> </p>
	<form action = '/parties/<%=@party.id%>' name="method" method="post">
		<input type ="hidden" name="_method" value="patch"/>
		Paid<input type ="radio" name="party[paid]" value="true"/>
		Not Paid<input type ="radio" name="party[paid]" value="false"/>
		<input type ="submit" value="Submit"/>
	</form>

<p>===========================</p>

	<h2>ALL ORDERS</h2>
	<% if @error %>
		<span style="color:red"><%= @error %></span>
	<% else %>
		<a class ="nav" href = "/parties/<%=@party.id%>/orders/new">Add an order</a>
	<% end %>

	<a class ="nav" href = "/parties/<%=@party.id%>/receipt">See Party Receipt</a>

	<table>
		<tr>
			<td>ITEM</td>
			<td>PRICE</td>
		</tr>
	<% @orders.each do |order| %>
		<tr>
			<td><%=order.food_name%></td>
			<td><%=order.food_price%></td>
			<td>
				<form action = '/orders' name="method" method="post">
					<input type ="hidden" name="order[id]" value="<%=order.id%>"/>
					<input type ="hidden" name="party[id]" value="<%=@party.id%>"/>
					<input type ="hidden" name="_method" value="delete"/>
					<input class = "delete" type ="submit" value="Delete order"/>
				</form>
			</td>
		</tr>
	<% end %>
	</table>

	<%=@order_status%>
</div>



